<div class="grid border max-w-[200px] border-gray-200 rounded">
  <button (click)="changeFilter($event)" class="px-8 py-4 " [ngClass]="{'bg-primary text-white': actualFilter === 'Entradas'}">Entradas</button>
  <button (click)="changeFilter($event)" class="px-8 py-4" [ngClass]="{'bg-primary text-white': actualFilter === 'Plato Fuerte'}">Plato Fuerte</button>
  <button (click)="changeFilter($event)" class="px-8 py-4" [ngClass]="{'bg-primary text-white': actualFilter === 'Bebidas'}">Bebidas</button>
  <button (click)="changeFilter($event)" class="px-8 py-4" [ngClass]="{'bg-primary text-white': actualFilter === 'Postres'}">Postres</button>
</div>
