<div class="grid border-4 max-w-[200px] border-gray-200 rounded-lg overflow-hidden">
  <button (click)="changeFilter($event)" class="px-8 py-4"
    [ngClass]="{'bg-primary text-white': currentFilter() === 'Entrada'}">Entradas</button>
  <button (click)="changeFilter($event)" class="px-8 py-4"
    [ngClass]="{'bg-primary text-white': currentFilter() === 'Plato fuerte'}">Platos Fuertes</button>
  <button (click)="changeFilter($event)" class="px-8 py-4"
    [ngClass]="{'bg-primary text-white': currentFilter() === 'Bebidas'}">Bebidas</button>
  <button (click)="changeFilter($event)" class="px-8 py-4"
    [ngClass]="{'bg-primary text-white': currentFilter() === 'Postre'}">Postres</button>
</div>
