<form>
    <div class="relative max-h-fit ">
      <input type="search" id="default-search" class="p-2 pr-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-secondary placeholder:text-secondary-text focus:ring-blue-500 focus:border-blue-500" placeholder="Buscar" required />
      <div class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none">
          <svg class="w-4 text-gray-500 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
      </div>
    </div>
</form>