<form (ngSubmit)="saveEmployee()" [formGroup]="myForm" class="pb-4 overflow-hidden overflow-y-scroll rounded-lg bg-secondary max-h-96" >
  <div class="p-4 bg-primary" >
    <h2 class="text-xl font-bold text-center text-white" >Nuevo empleado</h2>
  </div>
  <div class="grid gap-4 p-4" >
    <h3 class="font-bold">Datos personales</h3>
    <label class="grid gap-2 p-2" >
      *Número de identidad:
      <input autofocus="true" [class.ring-4]="myForm.get('idNumber')?.invalid && myForm.get('idNumber')?.touched" formControlName="idNumber" required class="p-2 rounded ring-bad" type="number" placeholder="080112341234567" >
    </label>
    <label class="grid gap-2 p-2" >
      *Nombre:
      <input [class.ring-4]="myForm.get('firstName')?.invalid && myForm.get('firstName')?.touched" formControlName="firstName" required class="p-2 rounded ring-bad" type="text" placeholder="Daniel" >
    </label>
    <label class="grid gap-2 p-2">
      Segundo Nombre:
      <input [class.ring-4]="myForm.get('secondName')?.invalid && myForm.get('secondName')?.touched" formControlName="secondName" class="p-2 rounded ring-bad" type="text" placeholder="Alejandro" >
    </label>
    <label class="grid gap-2 p-2">
      *Apellido:
      <input [class.ring-4]="myForm.get('firstSurName')?.invalid && myForm.get('firstSurName')?.touched" formControlName="firstSurName" required class="p-2 rounded ring-bad" type="text" placeholder="Corrales" >
    </label>
    <label class="grid gap-2 p-2">
      *Número de teléfono:
      <input [class.ring-4]="myForm.get('phoneNumber')?.invalid && myForm.get('phoneNumber')?.touched" formControlName="phoneNumber" class="p-2 rounded ring-bad no-spinner" type="number" placeholder="12345678" >
    </label>
  </div>
  <div class="grid gap-4 p-4" >
    <h3 class="font-bold">Información de empleado</h3>
    <label class="grid gap-2 p-2">
      *Puesto:
      <select [class.ring-4]="myForm.get('employeeType')?.invalid && myForm.get('employeeType')?.touched" formControlName="employeeType" required class="p-2 bg-white rounded ring-bad" >
        <option value=""></option>
        <option value="vendedor">Vendedor</option>
        <option value="Gerente">Gerente</option>
      </select>
    </label>
    <label class="grid gap-2 p-2">
      *Email:
      <input [class.ring-4]="myForm.get('email')?.invalid && myForm.get('email')?.touched" formControlName="email" required class="p-2 rounded ring-bad" type="email" placeholder="hola@email.com" >
    </label>
    <label class="grid gap-2 p-2">
      *Contraseña:
      <input [class.ring-4]="myForm.get('password')?.invalid && myForm.get('password')?.touched" formControlName="password" required class="p-2 rounded ring-bad" type="password">
    </label>
    <label class="grid gap-2 p-2">
      *Confirmación de Contraseña:
      <input [class.ring-4]="myForm.get('passwordConfirm')?.invalid && myForm.get('passwordConfirm')?.touched" formControlName="passwordConfirm" required class="p-2 rounded ring-bad" type="password">
    </label>
    <label class="grid gap-2 p-2">
      *Dirección:
      <input [class.ring-4]="myForm.get('address')?.invalid && myForm.get('address')?.touched" formControlName="address" required class="p-2 rounded ring-bad" type="text" placeholder="San Pedro Sula" >
    </label>
    <label class="grid gap-2 p-2">
      *Imágen de perfil:
      <input [class.ring-4]="myForm.get('profilePic')?.invalid && myForm.get('profilePic')?.touched" formControlName="profilePic" required class="p-2 rounded ring-bad" type="url" placeholder="image.png" >
    </label>
  </div>
  <div class="flex justify-center gap-2">
    <button type="button" (click)="closeForm()" class="p-2 text-white rounded bg-blue" >Cancelar</button>
    <button type="submit" class="p-2 text-white rounded bg-good" >Guardar</button>
  </div>
</form>
