<main class="relative flex items-center justify-start h-screen overflow-hidden" >
  <img class="absolute max-w-screen aspect-video -z-40 brightness-50" src="/assets/images/welcome-background.webp" alt="Background image" />
  <div class="grid max-w-4xl gap-4 p-8 bg-white text-purple rounded-3xl rounded-s-none" >
    <section >
      <h1 class="mb-4 text-4xl font-bold" >Restaurante Brisas del Litoral</h1>
      <p>Comida deliciosa al alcance de un <strong>click</strong>!</p>
    </section>
    <div class="flex justify-end" ><a class="px-4 py-2 text-white rounded-lg bg-purple" routerLink="/auth">Comenzar</a></div>
  </div>
</main>