<form class="relative">
    <input type="search"
        class="px-4 py-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-secondary placeholder:text-secondary-text focus:ring-blue-500 focus:border-blue-500"
        placeholder="Buscar" required />
    <svg class="absolute w-4 text-gray-500 pointer-events-none right-3 top-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
        viewBox="0 0 20 20">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
    </svg>
</form>