<div class="grid gap-4">
  <div class="flex justify-between">
    <app-searchbar />
    <app-searchbar />
  </div>
  <div class="grid gap-4 md:grid-cols-[1fr_20%_1fr] place-items-center" >
    <table *ngIf="selectedDishes.length !== 0; else noDishes" class="min-w-full text-center rounded-lg" >
      <thead class="text-white bg-primary h-[4rem]" >
        <td class="px-2" >Id</td>
        <td class="px-2" >Nombre</td>
        <td class="px-2" >Cantidad</td>
        <td class="px-2" >Precio</td>
        <td class="px-2" >Sub Total</td>
      </thead>
      <tbody class="bg-rose-100" >
        <tr class="even:bg-rose-200" *ngFor="let dish of selectedDishes" >
          <td>{{dish.id}}</td>
          <td>{{dish.name}}</td>
          <td>3</td>
          <td>{{dish.price | currency}}</td>
          <td>$9.00</td>
        </tr>
      </tbody>
      <tfoot class="text-left" >
        <tr>
          <td colspan="4">Subtotal</td>
          <td>9.00</td>
        </tr>
        <tr>
          <td colspan="4">Descuento</td>
          <td>0%</td>
        </tr>
        <tr>
          <td colspan="4">ISV (15%)</td>
          <td>1.35</td>
        </tr>
        <tr>
          <td colspan="4">Total</td>
          <td>10.35</td>
        </tr>
      </tfoot>
    </table>
    <ng-template #noDishes>
      <div class="grid h-full p-8 text-white bg-gray-500 rounded-lg place-items-center" >Agrega elementos a la orden</div>
    </ng-template>
    <app-filter-options />
    <app-menu-list (onSelect)="onSelect($event)" [dishes]="dishes()" />
  </div>
</div>
