<div class="grid gap-4">
  <div class="flex justify-between">
    <app-searchbar />
    <app-searchbar />
  </div>
  <div class="grid gap-4 md:grid-cols-[1fr_20%_1fr] place-items-center" >
    <app-table [rows]="selectedDishes" />
    <app-filter-options />
    <app-menu-list (onSelect)="onSelect($event)" [dishes]="dishes()" />
  </div>
  <div class="flex gap-4" >
    <button class="w-48 px-4 py-2 font-bold text-white rounded-lg bg-good" >Pagar</button>
    <button class="w-48 px-4 py-2 font-bold text-white rounded-lg bg-bad" >Cancelar</button>
  </div>
</div>
