<div class="grid gap-4 md:grid-cols-3 md:px-16">
  <app-navigation-button url="/app/sales" color="bg-green-700" title="Ventas">
    <icon-sales class="contents" />
  </app-navigation-button>

  <app-navigation-button url="/app/shopping" color="bg-pink-700" title="Compras">
    <icon-shopping class="contents" />
  </app-navigation-button>

  <app-navigation-button color="bg-purple" title="Pedidos pendientes" url="/app/due-orders">
    <icon-due-orders class="contents" />
  </app-navigation-button>

  <app-navigation-button url="/app/supplier" color="bg-yellow-500" title="Proveedores">
    <icon-supplier class="contents" />
  </app-navigation-button>

  <app-navigation-button url="/app/employees" color="bg-blue" title="Empleados">
    <icon-employee class="contents" />
  </app-navigation-button>

  <app-navigation-button color="bg-slate-600" title="Menú Digital" url="/app/menu">
    <icon-menu class="contents" />
  </app-navigation-button>
</div>