<div class="grid grid-cols-3 gap-4">
  <app-navigation-button
    color="bg-purple"
    title="Nuevo Pedido"
    url="app/new-order"
    imageUrl="assets/icons/restaurant/clipboard_add.svg"
  />
  <app-navigation-button
    color="bg-primary"
    title="Pedidos pendientes"
    url="app/orders"
    imageUrl="assets/icons/restaurant/document_stack.svg"
  />
  <app-navigation-button
    color="bg-blue"
    title="Menú Digital"
    url="app/menu"
    imageUrl="assets/icons/restaurant/book_closed.svg"
  />
  <app-navigation-button
    color="bg-bad"
    title="Quejas y Reclamos"
    url="app/complaints"
    imageUrl="assets/icons/restaurant/heart_remove.svg"
  />
  <app-navigation-button
    color="bg-purple-secondary"
    title="Registros"
    url="app/records"
    imageUrl="assets/icons/restaurant/book_text.svg"
  />
  <app-navigation-button
    color="bg-good"
    title="Gestión de Promociones"
    url="app/promotions"
    imageUrl="assets/icons/restaurant/tags.svg"
  />
</div>