<div class="flex flex-row items-center justify-between space-x-20">
  <div class="items-center grid-flow-row space-y-2">
    <app-filter-options class=""></app-filter-options>
    <button class="px-4 py-2 text-white bg-green-800 rounded-md  hover:bg-green-800" (click)="newDish()">Agregar un nuevo platillo</button>
  </div>
  <app-menu-list (onSelect)="onSelect($event)" [dishes]="dishes()" />
  <div *ngIf="this.addNewDish">
    <app-formulario-platillo (cancelEvent)="cancelForm($event)"></app-formulario-platillo>
  </div>
  <div *ngIf="this.modifyElemet.name !== 'default'">
    <app-modify-dish [dish]="modifyElemet" (cancelEvent)="cancelModifyForm($event)" ></app-modify-dish>
  </div>
</div>
