@tailwind base;
@tailwind components;
@tailwind utilities;

svg {
  width: 40%;
}

.active {
  @apply scale-105
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}