<h2 class="text-2xl font-semibold max-w-md mx-auto p-3 text-center text-white  rounded-t-lg shadow-lg bg-primary">Nuevo
  Platillo</h2>
<div class=" mx-auto p-6 bg-secondary rounded-b-lg shadow-lg max-w-lg">
  <form  class=""  (ngSubmit)="onSubmit()">
    <!-- input de nombre  -->
    <div class="mb-3 flex items-center justify-between space-x-2 ">
      <label for="nombre" class=" text-gray-700 text-sm font-bold  ">Nombre: </label>
      <input type="text" id="NameDish" name="NameDish" [(ngModel)]="dish.name"
        class="w-full border-b border-primary bg-transparent focus:outline-none focus:ring-0 mb-2" />
    </div>

    <!-- input de precio -->
    <div class="mb-3 flex items-center justify-between space-x-5">
      <label for="precio" class="block text-gray-700 text-sm font-bold " >Precio:</label>
      <input type="number" id="precio" name="precio" [(ngModel)]="dish.price"
        class="no-spinner w-full border-b border-primary bg-transparent focus:outline-none focus:ring-0 mb-2" />
    </div>

    <!-- input de tipo de platillo -->
    <div class="form-group mb-4 flex items-center space-x-9 ">
      <label for="tipo" class="text-gray-700 text-sm font-bold">Tipo:</label>
      <select id="tipo" name="tipo" class="bg-red-50 rounded-md  " [(ngModel)]="dish.category" required>
        <option selected>Elige una categoria</option>
        <option value="Entradas">Entrada</option>
        <option value="Plato Fuerte">Plato Fuerte</option>
        <option value="Postres">Postre</option>
        <option value="Bebidas">Bebida</option>
      </select>
    </div>
    <!-- input de imagen -->

    <div class="flex-wrap justify-center align-middle -2">
      <label for="Imagen" class="block text-gray-700 text-sm font-bold  mb-3">Imagen:</label>
      <input type="file" (change)="onFileSelected($event)"  />
      <div class="flex justify-center mt-3 ">
        <img *ngIf="this.dish.imgUrl" [src]="dish.imgUrl" alt="Imagen seleccionada" class="max-h-32" />
      </div>
    </div>


    <!-- botones -->
    <div class="mt-4 flex justify-between">
      <button type="submit" class="bg-green-700 text-white py-2 px-4 rounded-md hover:bg-green-800">Agregar</button>
      <button type="button" class="bg-red-800 text-white py-2 px-4 rounded-md hover:bg-red-900">Cancelar</button>
    </div>
  </form>
