<h2 class="text-2xl font-semibold max-w-md mx-auto p-6  rounded-t-lg shadow-md bg-primary">Detalles</h2>
<div class="max-w-md mx-auto p-6 bg-secondary rounded-b-lg shadow-md">
  <form>
    <div class="mb-4">
      <label for="nombre" class="block text-gray-700 text-sm font-bold mb-2">Nombre:</label>
      <div class="flex items-center">
        <input type="text" id="nombre" name="nombre" class="w-full border border-gray-300 p-2 rounded-md focus:outline-none focus:ring focus:border-blue-300" />
      </div>
    </div>

    <div class="mb-4">
      <label for="precio" class="block text-gray-700 text-sm font-bold mb-2">Precio:</label>
      <div class="flex items-center">
        <input type="number" id="precio" name="precio" class="w-full border border-gray-300 p-2 rounded-md focus:outline-none focus:ring focus:border-blue-300" />
      </div>
    </div>

    <div class="mb-4">
      <label for="descuento" class="block text-gray-700 text-sm font-bold mb-2">Descuento:</label>
      <div class="flex items-center">
        <input type="number" id="descuento" name="descuento" class="w-full border border-gray-300 p-2 rounded-md focus:outline-none focus:ring focus:border-blue-300" />
      </div>
    </div>

    <div class="mb-4">
      <label for="imagen" class="block text-gray-700 text-sm font-bold mb-2">Imagen:</label>
      <div class="flex items-center">
        <input type="file" id="imagen" name="imagen" class="w-full border border-gray-300 p-2 rounded-md focus:outline-none focus:ring focus:border-blue-300" />
      </div>
    </div>

    <div class="mt-6 flex justify-between">
      <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600">Agregar</button>
      <button type="button" class="bg-gray-300 text-gray-700 py-2 px-4 rounded-md hover:bg-gray-400">Cancelar</button>
    </div>
  </form>
</div>
