<div class="grid gap-4 p-16">
  <div class="grid gap-4 md:grid-cols-[1fr_20%_1fr] place-items-start" >
    <div></div>
    <filter-options />
    <menu-list [openQuantityModal]="openQuantityModal" />
  </div>
  <div class="flex gap-4" >
    <button class="w-48 px-4 py-2 font-bold text-white rounded-lg bg-good" >Pagar</button>
    <button class="w-48 px-4 py-2 font-bold text-white rounded-lg bg-bad" >Cancelar</button>
  </div>
</div>

<quantity-modal
  *ngIf="showQuantityModal"
  (onClose)="closeQuantityModal()"
  (onChoice)="getUserQuantity($event)"
/>